<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CarDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\vv\Project\Lessons\Lesson9(ADO_EF)\App_Data\CarDB.mdf;Integrated Security=True" />-->
    <add name="CarDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Data;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\CarDB.mdf" />
  </connectionStrings>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>